@media screen and (max-width: 1199px) {
  .box-video {
    max-height: 500px;
  }

  section .h2-green {
    font-size: 40px;
  }
  section .h4-green {
    font-size: 20px;
  }

  .section-1 {
    min-height: 750px;
  }

  .section-2 .qna {
    font-size: 40px;
  }
  .section-2 .card-icon {
    width: 80px;
    height: 80px;
  }
  .section-2 .f-card-title {
    font-size: 20px;
  }
  .section-2 .f-card-text {
    font-size: 16px;
  }
  .section-2 .bg-card {
    min-height: 436px;
  }
  .section-2 .swiper-slide {
    width: 350px;
  }

  .section-3 .title {
    font-size: 40px;
  }
  .section-3 .acc-text {
    font-weight: 500;
    font-size: 16px;
    color: #425766;
  }

  .section-4 .bg-section-4 {
    min-height: 400px;
    margin-top: 180px;
  }
  .section-4 .landx-smart-2 {
    margin-top: -172px;
  }
  .section-4 .title {
    font-size: 32px;
  }
  .section-4 .btn-outline-success {
    font-size: 16px;
    width: 340px;
    height: 48px;
  }

  .btn-white,
  .btn-outline-white {
    font-size: 19px;
    width: 340px;
  }

  footer .nav-1 li a {
    font-size: 16px;
  }
  footer .nav-2 li a {
    font-size: 14px;
  }
  footer .copyright {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  header .banner-img {
    width: 100%;
  }
  .box-video {
    margin-bottom: -28%;
  }

  .section-1 {
    min-height: 755px;
  }

  .section-2 {
    margin-top: 45px;
  }
  .section-2 .qna {
    font-size: 28px;
  }
  .section-2 .bg-card {
    min-height: 340px;
  }
  .section-2 .container-card-icon {
    height: 140px;
  }
  .section-2 .card-icon {
    height: 70px;
    width: 70px;
  }
  .section-2 .f-card-title {
    font-size: 16px;
  }
  .section-2 .f-card-text {
    font-size: 15px;
  }

  .section-4 .bg-section-4 {
    min-height: 365px;
  }
  .section-4 .landx-smart-2 {
    margin-top: -60px;
  }
  .section-4 .title {
    font-size: 24px;
  }
  .btn-white,
  .btn-outline-white {
    font-size: 16px;
    width: 315px;
  }
  .swipper-container {
    height: 435px;
  }
}

@media screen and (max-width: 767px) {
  header.background-header {
    min-height: 865px;
  }

  section .img-ticket {
    max-width: 300px;
  }

  .section-1 {
    min-height: 1100px;
    padding-top: 130px;
  }

  .section-2 .landx-smart {
    margin-top: -350px;
  }
  .section-2 .qna {
    font-size: 43px;
  }
  .section-2 .container-card-icon {
    height: 122px;
  }
  .section-2 .card-icon {
    width: 72px;
    height: 72px;
  }
  .section-2 .f-card-title {
    font-size: 16px;
  }
  .section-2 .f-card-text {
    font-size: 12px;
  }
  .section-2 .bg-card {
    min-height: 356px;
  }
  .section-2 .swiper-slide {
    width: 240px;
  }

  .section-4 .bg-section-4 {
    min-height: 715px;
  }
  .section-4 .landx-smart-2 {
    margin-top: -90px;
  }

  footer {
    padding: 40px 0;
  }
  footer .social-icon,
  footer .copyright {
    text-align: center;
  }
  footer .social-icon {
    margin-bottom: 15px;
  }
  footer .copyright {
    font-size: 16px;
  }
  footer .nav-2 li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  header.background-header {
    min-height: 790px;
  }
  header .banner-img {
    width: 360px;
    height: 611px;
  }
  header .btn-banner {
    margin-top: -155px;
    margin-bottom: 20px;
  }
  .box-video {
    max-width: 328px;
    height: 200px;
    margin-bottom: -30%;
  }

  header h1 {
    font-size: 15px;
  }

  section .h4-green {
    font-size: 11px;
    margin-top: 37px;
  }
  section .h2-green {
    font-size: 43px;
    margin-bottom: 32px;
  }
  section .img-ticket {
    max-width: 328px;
  }

  .section-1 {
    min-height: 835px;
  }

  .section-2 .qna-p {
    font-size: 14px;
  }
  .section-2 .landx-smart {
    margin-top: -200px;
  }

  .section-3 .title {
    margin-bottom: 32px;
  }
  .section-3 .accordion-body {
    font-size: 14px;
  }

  .btn-white {
    font-size: 14px;
    width: 220px;
    height: 40px;
  }
  .btn-outline-white {
    font-size: 14px;
    width: 220px;
    height: 40px;
  }

  .section-4 .btn-outline-success {
    width: 256px;
    height: 34px;
    font-size: 12px;
  }
  .section-4 .bg-section-4 {
    min-height: 460px;
    margin-top: 100px;
  }
  .section-4 .p-info {
    font-size: 12px;
  }
  .section-4 .btn-download {
    margin-bottom: 40px;
  }

  .section-2 .landx-smart,
  .section-4 .landx-smart-2 {
    width: 275px;
  }
  .section-2 .card-icon {
    width: 72px;
    height: 72px;
  }

  .section-4 .w-icon {
    width: 16px;
    height: 16px;
  }

  footer .social-icon {
    margin-top: 30px;
  }

  .swiper {
    position: unset;
  }
  .swipper-container {
    position: relative;
    height: 425px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
    text-align: left;
    width: 100%;
  }
}
