@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;531;600;700;800;900&display=swap');




/* TYPOGRAPHY */

html {
    font-family: 'Inter' !important;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Inter' !important;
}





/* TEXT COLOR */

.text-primary {
    color:#5e798d !important;
}

.text-secondary{
    color: #2dbe60 !important;
}

.text-muted {
     color: #9e9e9e !important;
}

p {
    margin-bottom: 4px;
}

.navActive {
    display: block;
}



/* CUSTOM STYLES */

.bg-light{
    background-color:rgba(255, 255, 255, 0.900) !important;
    border-bottom: #E7E7E7 solid 1px;


}
.navbar {
    width: 100%;
    /* padding: 0 256px; */
    /* background-color:rgba(255, 255, 255, 0.900); */
    background-color: #ffffff;
    border-bottom: #E7E7E7 solid 1px;
}

.navbar-brand{
    display: flex;
    text-align: center;
}

.navbar-menu{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu ul{
    list-style: none;
    align-items: center;
    padding: 0 0;
}

/* a.menu{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15px;
    color: #5e798d;
    text-decoration: none;
} */

#navbarActive{
    padding: 100px 0px 16px;
}

.hamburgerMenu img{
    width: 32px;
    cursor: pointer;
}

.landxLogo img {
    height: 32px;
    padding-left:248px;
    cursor: pointer;
}


.btn.btn-primary {
    background-color: #2dbe60;
    border-color: #2dbe60; 
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.35px;
    text-align: center; 
    color:white; 
    border-radius: 4px;
    padding: 8px 16px;
}

.btn-primary:hover {
    color: white !important;
    background-color: #00A339!important;
}

.btn-primary:active, :visited{
    color: white !important;
    background-color: #2dbe60!important;
}

.headlineTitle {
    padding: 144px 0px 32px;
}

.btn-outline-primary {
    background-color: white; 
    border-color: #2dbe60; 
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.35px;
    text-align: center; 
    color:#2dbe60; 
    border-radius: 4px;
    padding: 8px 16px;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
    border-color: #00A339;
    color: white;
    background-color:#2dbe60!important;
}

#lx-hero {
    background-image: linear-gradient(rgba(255,255,255,0.44), rgba(255,255,255,0.44)), url(/img-new/header_background.webp);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    /* width: 100%; */
}

button.demo-fab {
    width: 136px;
    height: 136px;
    background-color: #2dbe60;
    background-image: url(img/demoFAB-bacground.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;
    box-shadow:0px 6px 12px #bebebe;
    color: white;
    position: absolute;
    left: 36%;
    top: 36%;
}

button.demo-fab:hover {
    color: #00A339;
}

.heroPhone{
    position: relative;
}


.storeContainer img{
    height: 72px;
    cursor: pointer;
}

#lx-why {
    background-image: url(img/whyChoseLandxBackground3.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

div.card {
    width: auto; 
    float: none;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 14px; 
    border-color: #e5e5e5;
    color: white;
}

div.progress {
    width: 100%;
    height: 8px;
    text-align: left;
}

div.progress-bar {
    background-color: #2dbe60;
}

#lx-divider {
    height: 2px;
    background-color: #f8f8f8;
    margin: auto;
    margin-bottom: 16px;
}

#lx-dividerPrimary {
    height: 1px;
    background-color:#ccd7df;
}


.lx-fab {
    width: 56px;
    height: 56px;
    background-color: #2dbe60;
    border-radius: 100%;
    border-color: #00b242;
    z-index: 2;
    box-shadow:0px 6px 12px #bebebe;
    position: absolute;
    right: 16px;
    top: 204px;
}


.modal-body-store {
    background-image: url(img/StoreModalBackground.png);
    background-repeat: none;
    background-size: cover;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: #2dbe60;
    border-radius: 8px;
    padding: 0;
}

button.close img  {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0px;
    top: 16px;
    color: #5e798d;
}

#lx-how {
    background-color: #EAEFF4;
    background-repeat: no-repeat;
}

.how-card {
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    padding-bottom: 2px;
}

.how-item-box{
    border-radius: 12px !important;
    background-image: linear-gradient( #fff, #d8ffeb);
    /* width: 320px !important;
    height: 300px !important; */
}

.flow-item-box{
    border-radius: 12px !important;
    background-color:#ffffff;
    /* width: 250px !important;
    height: 275px !important; */
}

.text-heading{
    width: 50%;
    padding: 67px 0;
}

.hero-title{
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: #00a339;
    font-size: 42px;
    margin-bottom: 28px;
    padding-right: 21px;
}

.hero-description{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6;
    letter-spacing: 0.15px;
    color: #425766;
    margin-bottom: 20px;
}

.hero-supervisor{
    margin-bottom: 45px;
}

.hero-button-app img{
    padding-right: 20px;
}

.ilustration-heading{
    /* position: absolute; */
    /* height: 45%;
    width: auto; */
    /* display: relative; */
    width: 50%;
    /* background-color: antiquewhite; */
    margin: 0 auto;
}

.ilustration-heading img{
    position: absolute;
    height: 500px;
}

.rss-categori{
    font-size: 11px;
    font-weight: normal;
    line-height: 1.45;
    letter-spacing: 1.65px;
    color: #5e798d;
    text-transform: uppercase;
}

.rss-title{
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.15px;
    color: #5e798d;
    margin: 7px 0 18px 0;
}

.rss-description{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.75;
    letter-spacing: 0.44px;
    color: #5e798d;
    max-height: 165px;
    overflow: hidden;
}

.rss-btn-detail-blog{
    text-align: center;
    padding: 8px 16px;
    width: 100%;
    background-color: #ffffff;
    border: none;
    margin-top: 24px;
}

.rss-btn-detail-blog a {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.35px;
    color: #2dbe60 !important;
    text-transform: uppercase;
}

.border-nav{
    border-bottom: 1px solid #e5e5e5;
}

div.lx-CTA {
    background-image: url(img-new/CTA_Background.webp);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    border-radius: 12px;
    width: 100%;
    box-shadow:0px 6px 12px #bebebe;
}

.lx-CTA-move{
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lx-footer{
    /* background-image: url(img/footerBackground1.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center; */
    background-color: #f8f8f8;
    margin-top: 220px;
}

li.list-group-item {
    font: 'Inter', sans-serif 16px normal;
    color: #5e798d;
    letter-spacing: 0.44px;
    line-height: 48px;
    padding: 0px ;
    background: none;
    border: none;
}


li.list-group-item-title {
    font: 'Inter';
    font-size: 16px;
    font-weight: 900;
    color: #5e798d;
    letter-spacing: 0.44px;
    line-height: 48px;
    padding: 0px ;
    background: none;
    border: none;
    list-style-type: none;
}

#lx-icon{
    width: 32px;
    height: 32px;
}

th{
    font: 'Inter';
    font-size: 16px;
    font-weight: 700;
    color: #2dbe60;
}

td{
    font: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #2dbe60;
}

.table-background{
    background-color: #f8f8f8;
    border: none;
    padding: 16px;
    margin-bottom: 8px;
}

.iconlx{
    display: block;
    height: 96px;
    padding: 24px 0px 0px;
    margin-bottom: 16px;
}

.card-img-top {
    background: cover;
}
img.testimonyProfile{
    width: 96px;
    margin: auto;
    margin-bottom: 232px;
}

.carousel-caption {
    margin-top: 16px;
}

.carousel-control-prev-icon {
    background-image: url(img/prevIcon.svg);
}

.carousel-control-next-icon {
    background-image: url(img/nextIcon.svg);
}

.carousel-indicators li {
    border-radius: 50%;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #CCD7DFff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.socMed {
    width: 32px;
    height: 32px;
}


.copyright {
    padding-bottom: 40px;
    margin-top:-70px;
}

.nav-item {
    width: 100%;
}

.nav-item span{
    display: block;
    width: 32px;
    height: 2px;
    border-bottom: 2px solid transparent;
}

.nav-item:hover span {
    border-bottom: 2px solid #2dbe60;
}

.nav-item:active span {
    border-bottom: 2px solid #2dbe60;
}

.nav-item a.nav-link.text-primary:hover {
    color: #2dbe60 !important; 
}

.nav-item a.nav-link.text-primary:active {
    color: #5e798d !important; 
}

.nav-item a.nav-link.text-primary:visited {
    color: #5e798d !important; 
}

.modal-content{
    background-image: none;
    background-color: transparent;
    border: none;
}

.demoPhone img{
    margin: auto;
}

.card-img-top{
    height: auto; 
    padding-bottom:8px; 
    border-radius: 14px 14px 0px 0px;
}

.card-body {
    padding:16px 16px 0px; 
    min-height: 264px; 
    border-radius: 14px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

img.landxFlow {
    height: 400px;
}

/* Carousel of Cards */

/* Button Outline Without Changing Colour */

.btn-outline-primary:hover {
    background-color: inherit !important;
    color: #2e9452 !important;
}

/* Carousel Navigator*/
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-bottom {
    margin-bottom: 25px;
}

/* Project Category */
.semi-transparent-button {
    background-color: #e4f6e8 !important;
    border-color: #bde8c7 !important;
    font-weight: bold;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: center;
    color: #2dbe60 !important;
}
.semi-transparent-button:hover {
    background-color: #e4f6e8;
    color: rgb(34, 139, 80);
}


/* Card details */

div.carousel-card {
    width: auto; 
    float: none;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 14px; 
    border-color: #e5e5e5;
    color: white;
    background-color: white;
    width: 280px;
    min-height: 450px;
}

.card-body {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14);
}

.small-text {
    font-family: Roboto;
    color: #9e9e9e;
    font-size: 12px !important;
    letter-spacing: 0.4px;
}
.region-code {
    font-size: 11px;
    letter-spacing: 1.65px;
    font-family: 'Roboto';
}
.text-primary {
    font-family: Roboto;
}

.carousel-img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.btn-buy {
    position: absolute;
    top: -2.3em;
    margin-left: 70%;
    z-index: 99;
}

.funding-container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
}

.mobile-view {
    display: none  !important;
}

.desktop-view {
    display: block  !important;
}

#desktop-menu{
    display: block;
}

.ilustration-heading img {
    position: absolute;
    height: 500px;
    width: 50%;
}
.dropdownNav{
    display:none;
    background-color:#ffffff;
    position:absolute;
    z-index: 1;
    width:max-content;
}

#arrow-nav-down{
    display: inline-block;
}

#arrow-nav-up{
    display: none;
}

#arrow-nav-down-mobile{
    display: inline-block;
}

#arrow-nav-up-mobile{
    display: none;
}
.subnav:hover .dropdownNav {display: block;}
.subnav:hover p {color: #f5f8fa;}
.subnav:hover #arrow-nav-down{display: none;}
.subnav:hover #arrow-nav-up{display: inline-block;}

#dropdown-mobile{
    list-style-type: none;
    display:none;
}
.show-submenu{
    display: inline-block !important;
}

.hide-submenu{
    display: none !important;
}
/* .subnav-mobile:hover #arrow-nav-down-mobile{display: none;}
.subnav-mobile:hover #arrow-nav-up-mobile{display: inline-block;} */

/* MEDIA BREAKPOINT */

@media (max-width: 1200px) {
    .funding-container {
        grid-template-columns: 300px 300px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {

    .navbar {
        padding: 16px;
        height: 72px;
    }

    div#hamburgerMenu img{
        width: 24px;
        padding-left:0px;
    }

    div.landxLogo img{
        height: 24px;
        padding-left: 0px;
        padding-right: 32px;
    }

    #navbarActive{
        padding-top: 72px;
    }

    h1 {
        font-size: 24px;
        font-weight: 600;
    }

    h2, h3{
        font-size: 24px;
        font-weight: 400;
    }

    h4 {
        font-size: 18px;
        font-weight: 600;
    }

    h5 {
        font-size: 16px;
        font-weight: 600;
    }

    h6 {
        font-size: 16px;
        font-weight: 600;
    }



    .copyright {
        margin-top: 0px;
    }

    btn.demo-fab {
        left: 100px;
        top: 532px;
    }

    img.landxFlow {
        height: 200px;
    }

    .funding-container {
        grid-template-columns: 300px 300px;
    }

    .how-item-box {
        border-radius: 12px !important;
        background-image: linear-gradient( #fff, #d8ffeb);
        width: 290px !important;
        height: 320px !important;
    }

    .flow-item-box {
        border-radius: 12px !important;
        background-color: #ffffff;
        width: 210px !important;
        height: 295px !important;
    }

    .hero-title {
        font-weight: 500;
        line-height: normal;
        letter-spacing: normal;
        color: #00a339;
        font-size: 25px;
        margin-bottom: 20px;
        padding-right: 0px;
    }

    .hero-supervisor {
        margin-bottom: 30px;
    }

    /* .text-heading {
        width: 50%;
        padding: 67px 18px;
    } */

    .mobile-view {
        display: block !important;
    }

    .desktop-view {
        display: none !important;
    }

    #desktop-menu{
        display: none !important;
    }

    /* .ilustration-heading img {
        position: absolute;
        top: 80px;
        width: 100%;
        height: auto;
        width: 70% !important;
        left: 20%;
    } */

    .ilustration-heading {
        display: flex;
        text-align: center;
        width: 100%;
    }

    .ilustration-heading img {
        position: absolute;
        top: 80px;
        height: auto;
        width: 28% !important;
        left: 35%;
    }

    .text-heading {
        width: 100%;
        padding-top: 200px;
    }

    .hero-title {
        font-weight: 500;
        line-height: normal;
        letter-spacing: normal;
        color: #00a339;
        font-size: 22px;
        margin-bottom: 20px;
        padding-right: 0px;
        text-align: center;
    }

    .hero-description {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.6;
        letter-spacing: 0.15px;
        color: #425766;
        margin-bottom: 20px;
        text-align: center;
    }

    .hero-supervisor {
        margin-bottom: 30px;
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-button-app{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .hero-button-app img{
        width: 130px;
    }

    .storeContainer img {
        height: 85%;
        cursor: pointer;
    }

    .text-heading {
        padding-bottom: 0;
    }

    .ilustration-heading div{
        padding-bottom: 0px !important;
    }
    
}

/* Small devices (landscape phones, less than 768px */
@media (max-width: 768px) {
    .navbar {
        padding: 16px;
        height: 72px;
    }

    div#hamburgerMenu img{
        width: 24px;
    }

    div.landxLogo img{
        height: 24px;
        padding-left:0px;
        padding-right: 32px;
    }

    button.demo-fab {
        width: 96px;
        height: 96px;
        left: 33%;
        top: 36%;
    }

    button.demo-fab h5 {
        font-size: 16px;
        margin: 0px;
    }

    div.heroPhone {
        margin: auto;
        position: relative;
    }

    div.heroPhone img {
        width: 288px;
    
    } 

    div img.iconlx {
        margin-left: auto;
        margin-right: auto;
    }

    p.left{
        text-align: center;
    }

    .copyright {
        margin-top: 0px;
    }

    .funding-container {
        grid-template-columns: 300px 300px;
    }

    .how-item-box {
        border-radius: 12px !important;
        background-image: linear-gradient( #fff, #d8ffeb);
        width: 220px !important;
        height: 375px !important;
    }

    .hero-supervisor {
        margin-bottom: 30px;
        width: 165px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-button-app {
        display: flex;
        justify-content: center;
    }
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {

    .funding-container {
        grid-template-columns: 300px;
    }

    .navbar {
        padding: 16px;
        height: 72px;
    }

    div.hamburgerMenu img{
        height: 24px;
    }

    div.landxLogo img{
        height: 24px;
        padding-left:0px;
        padding-right: 32px;
    }

    div.heroPhone img {
        width: 288px;
    } 
  
    div.progress-bar{
        width: 15%;
    }

    h1.bottomCTATitle {
        font-size: 20px;
        font-weight: 500;
    }

    img.landxFlow {
        height: 30px;
    }

    .ilustration-heading img {
        position: absolute;
        top: 80px;
        height: auto;
        width: 230px !important;
        left: 190px;
    }

    /* .hero-button-app img {
        padding-right: 0;
    } */
}

@media (max-width: 500px) {
    .ilustration-heading img {
        position: absolute;
        top: 80px;
        height: auto;
        width: 230px !important;
        left: 155px;
    }
}

@media (max-width: 414px) {
    .ilustration-heading img {
        position: absolute;
        top: 80px;
        height: auto;
        width: 230px !important;
        left: 100px;
    }

    .hero-button-app {
        display: flex;
        justify-content: space-evenly;
    }

    .hero-button-app img {
        padding-right: 0;
    }

    .izin{
        top: 50px;
    }

    .izin h6 {
        margin-bottom: 20px !important
    }

    .izin img{
        width: 200px;
        margin-bottom: 22px
    }
}

@media (max-width: 320px) {
    .ilustration-heading img {
        position: absolute;
        top: 80px;
        height: auto;
        width: 230px !important;
        left: 55px;
    }
}

@media (max-width: 280px) { 
    .hero-button-app {
        display: flex;
        justify-content: space-around;
    }
    .hero-button-app img {
        width: 120px;
        padding-right: 0;
    }
    .ilustration-heading img {
        position: absolute;
        top: 80px;
        height: auto;
        width: 230px !important;
        left: 35px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 



}
