html, body {
    overflow-x: hidden;
}

div.projects-container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
}

#project-symbol {
    color: #2dbe60;
    letter-spacing: 1.65px;
    font-size: 14px;
}

#project-category {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 3px 15px;
}

.slider-img {
    width: 100%;
}

.main-title {
    font-family: Inter;
    font-weight: bold;
    font-size: 24px;
    color: #5e798d;
}

.card-body {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14);
}

.detail, .sub-detail-2 {
    font-family: Inter;
    font-size: 24px;
    font-weight: bold;
    color: #2dbe60;
}

.sub-detail-2 {
    color: #5e798d;
}

.sub-detail, .detail-2 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 0.1px;
    color: #9e9e9e;
}

.progress.xs.custom-progress {
    width: 95%;
    margin-left: -15px;
}

.row-buttons {
    margin-top: 40px;
    margin-left: -30px;
    margin-right: 20px;
}

.description-title {
    color: #5e798d;
    font-family: Inter;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

.description-content {
    color: #5e798d;
    letter-spacing: 0.44px;
    line-height: 28px;
    size: 16px;
    margin-left: 10px;
}

.description-content > h1 {
    font-size: 20px;
}

.button-back {
    font-size: 18px;
    font-weight: 500;
}

/* Media Break Point */

@media (max-width: 1200px) {

    div.projects-container {
        grid-template-columns: 300px 300px;
    }

    .btn-detail-bottom {
        height: 60px;
    }
}

@media (max-width: 992px) {
    div.projects-container {
        grid-template-columns: 300px 300px 300px;
    }

    .main-title {
        font-size: 20px;
    }

    .detail, .sub-detail-2 {
        font-size: 18px;
    }
    .sub-detail, .detail-2 {
        font-size: 10px;
    }
}

@media (max-width: 917px) {

    div.projects-container {
        grid-template-columns: 300px 300px;
    }
}

@media (max-width: 768px) {

    div.projects-container {
        grid-template-columns: 300px;
    }

    .description-title, .description-content {
        font-size: 14px;
    }

    .detail, .sub-detail-2 {
        font-size: 20px;
    }
    .sub-detail, .detail-2 {
        font-size: 12px;
    }

    #map-picture {
        margin-left: 10px;
        margin-right: 10px;
    }

    .box-2 {
        margin-top: 40px;
        margin-left: 20px;
    }

    .button-back {
        font-size: 16px;
    }
}

@media (max-width: 414px) {

    .main-title {
        font-size: 18px;
    }

    .detail, .sub-detail-2 {
        font-size: 16px;
    }

    .button-back {
        font-size: 16px;
    }
}
