#pendaftaran-perusahaan {
  background-color: #eaeff4;
  color: #5e798d;
}

.centered-text {
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

#page-title {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 0.25px;
}

#page-subtitle {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
}

#fee-label {
  font-size: 24px;
  font-weight: bold;
}

.fee-card {
  background-color: white;
}

.fee-card-label {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.15px;
}

ul {
  padding-left: 16px;
}

li {
  padding-left: 10px;
}

@media (max-width: 575.98px) {
  #page-subtitle {
    text-align: left;
  }

  .fee-name {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 0.44px;
  }

  .fee-name > span {
    font-weight: normal;
  }

  .fee-card-label {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15px;
  }

  #hubungi-kami {
    widows: 100%;
    display: block;
  }
}
