/* This is for daftar-proyek.html file*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;531;600;700;800;900&display=swap');

/* Disable Horizontal Scrolling*/
html, body {
    overflow-x: hidden;
}

/* Fonts */
.custom-input {
    font-family: 'Inter', sans-serif !important;
    color:#2dbe60;
}

.text-primary {
    font-family: 'Roboto', sans-serif !important;
    /* color: #5e798d; */
}

.custom-select {
    font-family: 'Inter', sans-serif !important;
    color: #9e9e9e;
}

#btnFilter {
    font-family: 'Inter' !important;
    /* font-weight: 500; */
    font-size: x-small;
    height: 60%;
    margin-top: 14%;
}

a > span {
    font-family: 'Roboto';
    font-size: x-small;
}

span {
    font-family: 'Roboto';
}

/* Carousel Cards */
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-bottom {
    bottom: 280px;
}

span.card-title {
    font-size: 12px;
    font-weight: bold;
}

.why-landx-card {
    height: 20em;
}

.carousel-img {
    height: 150px;
    width: 300px;
    border-top-left-radius: 13px;
}


/* button with href */
.semi-transparent-button {
    width: auto;
    background-color: #e4f6e8;
    border-color: #bde8c7;
    font-weight: bold;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: center;
    color: #2dbe60;
}

.semi-transparent-button:hover {
    background-color: #e4f6e8;
    color: rgb(34, 139, 80);
}

.sold-out {
    position: relative;
}

.sold-out > img {
    position: absolute;
    top: -3px;
    left: -3px;
}