@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

body {
    color: #4a4a4a !important;
}

.main-body {
    font-family: 'Inter', sans-serif;
    min-height: calc(100vh - 270px);
    background-image: url("../images/lx-background.svg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-body h1 {
    font-size: 35px;
    font-weight: 600;
}

.text--green {
    color: #00912d;
}

.text--light-green {
    color: #00a339;
}

.text--gray {
    color: #4a4a4a;
}

.section--ojk__header {
    padding-top: 85px;
}

.footer {
    font-family: 'Inter', sans-serif;
    min-height: 170px;
    background-color: #eaeff4;
}

.footer-title {
    font-size: 16px;
    font-weight: 600;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

.social-media-icon {
    font-size: 22px;
    color: #4a4a4a !important;
}

.fab {
    background-color: #5e798d;
    text-align: center;
    vertical-align: bottom;
    width: 30px;
    color: white;
    padding: 4px;
    border-radius: 100px;
}

.navigation-bar {
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn--green {
    border: none;
    border-radius: 5px;
    background-color: #2dbe60;
    padding: 20px 35px;
    color: white;
    width: 200px
}

.mockup-image {
    width: 340px;
    max-width: 60vw;
}

a {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}
