@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
    color: #4a4a4a !important;
}

.main-body {
    font-family: 'Inter', sans-serif;
    height: 900px;
    background-image: url("../images/lx-background.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-body {
    padding-top: 120px;
}

.main-body h1 {
    font-size: 52px;
}

.main-body p {
    font-size: 16px;
}

.text--green {
    color: #00912d;
}

.text--light-green {
    color: #00a339;
}

.text--gray {
    color: #4a4a4a;
}

.section--ojk__header {
    padding-top: 85px;
}

.footer {
    font-family: 'Inter', sans-serif;
    min-height: 200px;
    background-color: #eaeff4;
}

.footer-title {
    font-size: 16px;
    font-weight: 600;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

.social-media-icon {
    font-size: 22px;
    color: #4a4a4a !important;
}

.fab {
    background-color: #5e798d;
    text-align: center;
    vertical-align: bottom;
    width: 30px;
    color: white;
    padding: 4px;
    border-radius: 100px;
}

.navigation-bar {
    padding-top: 35px;
    padding-bottom: 35px;
}
