@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif !important;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  color: #4a4a4a !important;
}

hr {
  margin: 0px;
}

.main-body {
  font-family: 'Inter', sans-serif;
  min-height: calc(100vh - 270px);
  background-image: url("../images/lx-background.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-body h1 {
  font-size: 35px;
  font-weight: 600;
}

.stats-number {
  font-size: 24px;
  font-weight: bold;
  color: #2dbe60;
}

@media (min-width: 576px) {
  .stats-number {
    font-size: 48px;
  }
}

.stats-info {
  font-size: 14px;
  font-weight: 500;
  color: #5e798d;
  line-height: 1.71;
  letter-spacing: 0.1px;
}

@media (min-width: 576px) {
  .stats-info {
    font-size: 20px;
  }
}

.text--green {
  color: #00912d;
}

.text--red {
  color: #d0021b;
}

.text--light-green {
  color: #00a339;
}

.text--gray {
  color: #4a4a4a;
}

.section--ojk__header {
  padding-top: 85px;
}

.footer {
  font-family: 'Inter', sans-serif;
  min-height: 170px;
  background-color: #eaeff4;
}

.footer-title {
  font-size: 16px;
  font-weight: 600;
}

.bulletless {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

.social-media-icon {
  font-size: 22px;
  color: #4a4a4a !important;
}

.fab {
  background-color: #5e798d;
  text-align: center;
  vertical-align: bottom;
  width: 30px;
  color: white;
  padding: 4px;
  border-radius: 100px;
}

.navigation-bar {
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn--green {
  border: none;
  border-radius: 5px;
  background-color: #2dbe60;
  padding: 20px 35px;
  color: white;
  width: 200px
}

.mockup-image {
  width: 340px;
  max-width: 60vw;
}

.verification-body {
  background-image: linear-gradient(-135deg, #FFFFFF 0%, #C0CCD6 100%);
  width: 100%;
  height: 100%;
}

.verification-body .verification-container {
  height: 100%;
  width: 100%;
}

.verification-body h1 {
  font-size: 30px;
  font-weight: 600;
}

.verification-body p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.63;
  color: #5e798d;
}

.verification-body .btn--verify {
  border: none;
  border-radius: 3px;
  padding: 11px 65px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  background-color: #2dbe60;
  cursor: pointer;

  text-transform: uppercase;
  color: white;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.verification-body .btn--verify:focus {
  outline: none !important;
}

.verification-body .btn--failed-verify {
  border: none;
  border-radius: 3px;
  padding: 11px 65px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  background-color: #d0021b;
  cursor: pointer;

  text-transform: uppercase;
  color: white;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.verification-body .btn--failed-verify:focus {
  outline: none !important;
}

a, a:hover, a:active {
    color: inherit;
}

.circle-section-1 {
  background-color: rgb(247, 244, 244);
  background-image: url('../images/circle/header-bg.png');
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.circle-section-1 h1 {
  padding-top: 100px;
  color: #00b62b;
}

.circle-section-1 h5 {
  color: #516a7c;
}

.circle-section-1 .logo {
  width: 165px;
}

.circle-section-2 {
  padding-top: 100px;
  padding-bottom: 100px;
  line-height: 1.75;
  letter-spacing: 0.4px;
}

.circle-section-2 .body-text {
  font-size: 16px;
  color: #5e798d;
}

.circle-section-2 .source-text {
  font-size: 12px;
  color: #b2b9be;
}

.circle-section-3 {
  background-color: #eaeff4;
  padding-top: 100px;
  padding-bottom: 100px;
}

.circle-section-3 .body-text {
  font-size: 24px;
  color: #5e798d;
}

.circle-section-3 .btn {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  background-color: #2dbe60;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  width: 100%;
  max-width: 540px;
  white-space: normal;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.circle-section-4 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.circle-section-4 h5 {
  color: #5e798d;
}


.circle-section-4 .card-wrapper {
  padding-left: 7.5px;
  padding-top: 7.5px;
  padding-right: 7.5px;
  padding-bottom: 7.5px;
}

.circle-section-4 .h-card {
  background-image: url('../images/circle/card-bg-1.png');
  background-size: cover;
  background-color: #516a7c;
  color: white;
  padding: 20px;
  min-height: 550px;
}

.circle-section-4 .h-card .h-card-header {
  height: 125px;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  color: white;
}

.circle-section-4 .h-card .h-card-header .row {
  height: 100%;
}

.circle-section-4 .h-card .h-card-divider {
  text-align: center;
}

.circle-section-4 .h-card .h-card-body {
  font-size: 14px;
  padding-top: 15px;
}

.circle-section-5 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #eaeff4;
}

.circle-section-5 h1 {
  text-align: center;
  color: #2dbe60;
  letter-spacing: -0.5px;
  font-weight: 300;
}

.circle-section-5 h3 {
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: #5e798d;
}

.circle-section-5 p {
  text-align: center;
  font-size: 16px;
  color: #5e798d;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.circle-section-5 .container {
  width: 70%;
}


.circle-section-5 .dot-divider {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  color: #5e798d;
  font-size: 25px;
}

.circle-section-6 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.circle-section-6 h2 {
  color: #5e798d;
  text-align: center;
}

.circle-section-6 .dot-divider {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  color: #5e798d;
  font-size: 25px;
}

.circle-section-6 .card-wrapper {
  padding-left: 15px;
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 12px;
}

.circle-section-6 .h-card {
  background-image: url('../images/circle/card-bg-2.png');
  background-size: cover;
  background-color: #516a7c;
  padding: 20px;
  min-height: 550px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

.circle-section-6 .h-card .h-card-header {
  height: 200px;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  color: #00912d;
}

.circle-section-6 .h-card .h-card-header .row {
  height: 100%;
}

.circle-section-6 .h-card .h-card-divider {
  text-align: center;
}

.circle-section-6 .h-card .h-card-body {
  font-size: 14px;
  padding-top: 15px;
  color: #5e798d;
}

.circle-section-7 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #eaeff4;
}

.circle-section-7 h2 {
  text-align: center;
  color: #00b62b;
  letter-spacing: 0.3px;
}

.circle-section-7 h4 {
  font-weight: 600;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  color: #5e798d;
}

.circle-section-7 p {
  color: #5e798d;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.4px;
}

.circle-section-7 img {
  width: 100%;
}

.circle-section-7 .dot-divider {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  color: #00b62b;
  font-size: 25px;
}

.circle-section-7 .body-container {
  width: 70%;
}

.circle-section-8 {
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 24px;
  color: #5e798d;
  font-weight: 300;
}

.circle-section-8 .body-container {
  width: 70%;
}

.circle-section-9 {
  background-color: #eaeff4;
  padding-top: 100px;
  padding-bottom: 100px;
}

.circle-section-9 h4 {
  text-align: center;
  color: #5e798d;
  font-weight: 300;
}

.circle-section-9 h5 {
  text-align: center;
  font-weight: 400;
  color: #00b62b;
  margin-bottom: 50px;
  width: 70%;
}

.circle-section-9 label {
  font-size: 12px;
  color: #5e798d;
  line-height: 1.33;
  letter-spacing: 0.4px;
}

.circle-section-9 input {
  background-color: #eaeff4;
  border: 0px;
  border-radius: 0px;
}

.circle-section-9 .form-container {
  margin-top: 50px;
  padding: 40px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  max-width: 600px;
}

.circle-section-9 .btn {
  margin-top: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  background-color: #2dbe60;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  width: 100%;
  max-width: 540px;
  white-space: normal;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


.circle-section-10 {
  text-align: center;
  background-image: url('../images/circle/footer-bg.png');
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #5e798d;
}

.circle-thanks-section-1 {
  background-color: rgb(247, 244, 244);
  background-image: url('../images/circle/header-bg.png');
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;
  width: 100%;
}

.circle-thanks-section-1 h1 {
  padding-top: 100px;
  font-size: 46px;
  font-weight: 500;
  color: #00b62b;
}

.circle-thanks-section-1 h5 {
  font-size: 24px;
  font-weight: 500;
  color: #516a7c;
}

.circle-thanks-section-1 .logo {
  width: 165px;
}

.circle-thanks-section-1 .body-container {
  margin-top: 50px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #5e798d;
  font-size: 16px;
  font-weight: 500;
}

.disclaimer {
  background-color: #eaeff4;
  font-size: 12px;
  color: #5e798d;
}

.registered {
  color: #425766;
  font-size: 16px;
}
